<body class ="d-flex flex-column vh-100">
  <header>
    
    <nav class="navbar navbar-expand-lg">
      
      <div class ="navbar-brand col-md-7">
        <h1 class="border col-md-2 border border-dark">LOGO</h1>
      </div>
      
      <div class ="container col-md-8 mt-0">
        <ul class ="navbar-nav justify-content-felx-end">
          <li class ="nav-item mr-5">
            <%= link_to about_path, class:"btn btn-outline-secondary text-dark" do %>
            About
            <% end %>
          </li>
          <li class ="nav-item mr-5">
            <%= link_to items_path, class:"btn btn-outline-secondary text-dark" do %>
            商品一覧
            <% end %>
          </li>
          <li class ="nav-item mr-5">
            <%= link_to new_customer_registration_path, class:"btn btn-outline-secondary text-dark" do %>
            新規登録
            <% end %>
          </li>
          <li class ="nav-item mr-5">
            <%= link_to new_customer_session_path, class:"btn btn-outline-secondary text-dark" do %>
            ログイン
            <% end %>
          </li>
        </ul>
        <!--検索フォーム追加-->
        
      </div>
      

    </nav>
    </div>
  </header>
</body>
