<p></p>
<%= render "admin/shared/links" %>

<div class ="container">
  <div class ="col-md-3">
    <h3 class ="bg-light">
      注文履歴一覧
    </h3>
  </div>
  <div class ="row">
    <div class ="">
      <table class ="table">
        <thead class ="bg-light">
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>