<p></p>
<%= render "public/shared/links" %>

<div class ="container">
  <div class ="col-md-3">
    <h3 class ="bg-light">ショッピングカート</h3>
    <%= link_to 'カートを空にする', destory_all_cart_items, class:"btn btn-danger" %>
  </div>
  <div class ="row">
    <div class ="col-md-8">
      <table class ="table-border">
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>