<p></p>

<div class ="container">
  <div class="col-md-3 ml-5">
    <h3 class ="bg-light">注文情報入力</h3>
  </div>
  <div class ="row">
    <div class ="col-md-12">
      <div class ="mt-3">
        <h5 class ="font-weight-bold">支払方法</h5>
      </div>
      <div class ="mt-3">
        <h5 class ="font-weight-bold">お届け先</h5>
      </div>
    </div>
  </div>
</div>