<%- if controller_name != 'sessions' %>
  <%= link_to "Log in", new_session_path(resource_name) %><br />
<% end %>


<header>
  <div class ="container">
    <div class ="row">
      <h2 class ="navbar-brand">LOGO</h2>
    </div>
    
  </div>
  
 
</header>